:root {
  --color-primary: #333132;
  --color-branding: #00b0d5;
  --color-illustration: #f98bc0;
  --color-motion: #82c86a;
  --color-print: #ffc500;
  --color-uxui: #e13a31;
  --color-web: #0e64cc;
  --color-secondary: #f2f2f2;
  --color-secondary-light: #fff;
  --color-secondary-dark: #000;
  --color-tint: rgba(119, 119, 119, 1);
  --color-accent: #777;

  --font-primary: Barlow, sans-serif;
  --font-secondary: Bungee, sans-serif;
}

html {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

html.branding {
  --color-tint: rgba(0, 176, 213, 0.18);
  --color-accent: var(--color-branding);
}

html.illustration {
  --color-tint: rgba(249, 139, 192, 0.18);
  --color-accent: var(--color-illustration);
}

html.motion {
  --color-tint: rgba(130, 200, 106, 0.18);
  --color-accent: var(--color-motion);
}

html.print {
  --color-tint: rgba(255, 197, 0, 0.18);
  --color-accent: var(--color-print);
}

html.uxui {
  --color-tint: rgba(225, 58, 49, 0.18);
  --color-accent: var(--color-uxui);
}

html.web {
  --color-tint: rgba(14, 100, 204, 0.18);
  --color-accent: var(--color-web);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

q {
  color: var(--color-accent);
}

.btn {
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  max-width: 11em;
}

.btn:focus,
.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary);
}

h1,
.h1 {
  font-size: 2.0728rem;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 1.7769rem;;
  line-height: 1.2;
}

h3,
.h3 {
  font-size: 1.555rem;
  line-height: 1.2;
}

h4,
.h4 {
  font-size: 1rem;;
  line-height: 1.2;
}

@media only screen and (min-width: 400px) {

  h1,
  .h1 {
    font-size: 2.7631rem;
    line-height: 1.2;
  }

  h2,
  .h2 {
    font-size: 2.3686rem;
    line-height: 1.2;
  }

  h3,
  .h3 {
    font-size: 2.0728rem;
    line-height: 1.2;
  }

  h4,
  .h4 {
  font-size: 1.1666rem;
  line-height: 1.2;
  }

}

@media only screen and (min-width: 608px) {

  h1,
  .h1 {
    font-size: 2.3686rem;
    line-height: 1.2;
  }

  h2,
  .h2 {
    font-size: 3.6831rem;
    line-height: 1.2;
  }

  h3,
  .h3 {
    font-size: 2.7631rem;
    line-height: 1.2;
  }

}

@media only screen and (min-width: 960px) {

  h1,
  .h1 {
    font-size: 2.7631rem;
    line-height: 1.2;
  }

}
