.filter-btn {
  padding: .5rem .8rem .6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary);
}

.selected-filter,
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  outline: 3px solid var(--color-primary);
  outline-offset: 3px;
}

.filtered-student-photo {
  filter: blur(1px) grayscale(1);
}

.no-click {
  pointer-events: none;
}

#branding-btn:hover {
  color: var(--color-branding);
}

#illustration-btn:hover {
  color: var(--color-illustration);
}

#motion-btn:hover {
  color: var(--color-motion);
}

#print-btn:hover {
  color: var(--color-print);
}

#uxui-btn:hover {
  color: var(--color-uxui);
}

#web-btn:hover {
  color: var(--color-web);
}
