/* These classes style the primary (white) icon states */
.social-icon {
  color: var(--color-secondary-light);
}

.social-icon:hover,
.social-icon:focus {
  outline: 3px solid var(--color-primary);
  outline-offset: 3px;
}

/* These classes style the secondary (black) icon states */
.social-icon-2 {
  color: var(--color-primary);
}

.social-icon-2:hover,
.social-icon-2:focus {
  outline: 3px solid var(--color-primary);
  outline-offset: 3px;
}

/* This code applies the accent colour to the primary buttons, pulling from the html class for the colour */
.accent-color {
  padding: .1em .75em .145em;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

/* These classes style the secondary gray portfolio and calendly buttons */
.btn-2 {
  padding: .1em .75em .145em;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-2:hover,
.btn-2:focus {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}