.header-shape {
  border-radius: 0 0 10px 10px;
  padding: 1rem 2rem;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 160px;
}

.header-nav {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toggle,
.toggle-close {
  background-color: transparent;
  color: var(--color-secondary-light);
  border: none;
}

.toggle:hover,
.toggle-close:hover {
  background-color: transparent;
  border: none;
  color: var(--color-secondary-dark);
  cursor: pointer;
}

.toggle-close {
  display: none;
}

.toggle-close.show {
  display: block;
}

.toggle-open {
  display: block;
}

.toggle-open.hide {
  display: none;
}

.h-nav-ul {
  display: none;
}

.h-nav-ul li {
  padding: 1rem 2rem;
}

.h-nav-ul.nav-show {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 608px) {

  .toggle-close,
  .toggle {
    display: none;
  }

  .header-nav {
    text-align: left;
  }

  .h-nav-ul {
    display: flex;
    justify-content: space-between;
  }

  .h-nav-ul li {
    padding: 1rem;
  }

}
