/* Includes for white text and link content */
.icon-white,
.nav-white a {
  color: var(--color-secondary-light);
  text-decoration: none;
}

.icon-white:hover,
.icon-white:focus,
.nav-white a:hover,
.nav-white a:focus {
  color: var(--color-secondary-light);
  text-decoration: none;
}

.text-white {
  color: var(--color-secondary-light);
}

/* Includes for black text and link content */
.icon-black,
.nav-black a {
  color: var(--color-primary);
  text-decoration: none;
}

.icon-black:hover,
.icon-black:focus,
.nav-black a:hover,
.nav-black a:focus {
  color: var(--color-primary);
  text-decoration: none;
}

.text-black {
  color: var(--color-primary);
}

/* Start styling for toggle navigation */
.header-shape {
  border-radius: 0 0 10px 10px;
  padding: 1.5rem;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 120px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.i-28 {
  width: 28px;
  height: 28px;
}

.toggle {
  background-color: transparent;
  border: none;
}

.toggle:hover {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 3px solid var(--color-primary);
  outline-offset: 3px;
}

.toggle-close {
  display: none;
}

.toggle-close.show {
  display: block;
}

.toggle-open {
  display: block;
}

.toggle-open.hide {
  display: none;
}

.h-nav-ul {
  display: none;
}

.h-nav-ul li {
  padding: 1rem 0;
}

.h-nav-ul.nav-show {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 700px) {

  .header-flex {
    align-items: center;
  }

  .toggle-close,
  .toggle {
    display: none;
  }

  .header-logo {
    width: 135px;
  }

  .header-nav {
    text-align: left;
  }

  .h-nav-ul,
  .h-nav-ul.nav-show {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .h-nav-ul li {
    padding: 1rem;
  }

}

@media only screen and (min-width: 960px) {

  .header-logo {
    width: 150px;
  }

}
