<section class="wrapper gutter pad-t-2 pad-b-2">
  <h2 class="text-center">Example Work</h2>

  <div class="layout1-work-grid">
    <div class="work-cards work-proj1" tabindex="0">
      <h4 class="push-1-4">{{include.data.portfolio_title1}}</h4>
      <div class="relative">
        {% if include.data.portfolio_image1 %}
          <img class="img-flex" src="{{site.cdn}}/projects/{{include.data.filename}}-project-1.jpg" alt="{{include.data.portfolio_description1}}">
        {% endif %}
        {% if include.data.portfolio_video1 %}
          <video controls loop playsinline class="push-0">
            <source src="{{site.cdn}}/projects/{{include.data.filename}}-project-1.mp4" type="video/mp4">
          </video>
        {% endif %}
        <p class="milli work-hover {% if include.data.portfolio_video1 %}work-hover-vid{% endif %} push-0" tabindex="0">{{include.data.portfolio_description1}}</p>
      </div>
    </div>

    <div class="work-cards work-proj2" tabindex="0">
      <h4 class="push-1-4">{{include.data.portfolio_title2}}</h4>
      <div class="relative">
        {% if include.data.portfolio_image2 %}
          <img class="img-flex" src="{{site.cdn}}/projects/{{include.data.filename}}-project-2.jpg" alt="{{include.data.portfolio_description2}}">
        {% endif %}
        {% if include.data.portfolio_video2 %}
          <video controls loop playsinline class="push-0">
            <source src="{{site.cdn}}/projects/{{include.data.filename}}-project-2.mp4" type="video/mp4">
          </video>
        {% endif %}
        <p class="milli work-hover {% if include.data.portfolio_video2 %}work-hover-vid{% endif %} push-0" tabindex="0">{{include.data.portfolio_description2}}</p>
      </div>
    </div>

    <div class="work-cards work-proj3" tabindex="0">
      <h4 class="push-1-4">{{include.data.portfolio_title3}}</h4>
      <div class="relative">
        {% if include.data.portfolio_image3 %}
          <img class="img-flex" src="{{site.cdn}}/projects/{{include.data.filename}}-project-3.jpg" alt="{{include.data.portfolio_description3}}">
        {% endif %}
        {% if include.data.portfolio_video3 %}
          <video controls loop playsinline class="push-0">
            <source src="{{site.cdn}}/projects/{{include.data.filename}}-project-3.mp4" type="video/mp4">
          </video>
        {% endif %}
        <p class="milli work-hover {% if include.data.portfolio_video3 %}work-hover-vid{% endif %} push-0" tabindex="0">{{include.data.portfolio_description3}}</p>
      </div>
    </div>

    <div class="work-cards work-proj4" tabindex="0">
      <h4 class="push-1-4">{{include.data.portfolio_title4}}</h4>
      <div class="relative">
        {% if include.data.portfolio_image4 %}
          <img class="img-flex" src="{{site.cdn}}/projects/{{include.data.filename}}-project-4.jpg" alt="{{include.data.portfolio_description4}}">
        {% endif %}
        {% if include.data.portfolio_video4 %}
          <video controls loop playsinline class="push-0">
            <source src="{{site.cdn}}/projects/{{include.data.filename}}-project-4.mp4" type="video/mp4">
          </video>
        {% endif %}
        <p class="milli work-hover {% if include.data.portfolio_video4 %}work-hover-vid{% endif %} push-0" tabindex="0">{{include.data.portfolio_description4}}</p>
      </div>
    </div>

    <blockquote class="quote-accent text-center layout1-student-quote" tabindex="0">
      <p class="mega">“{{include.data.quote_text | strip}}”</p>
      {% if include.data.quote_author %}
        <footer><cite>{{include.data.quote_author}}</cite></footer>
      {% endif %}
    </blockquote>

    <div class="layout1-work-buttons">
      <div class="push button-wrappers">
        {% pattern buttons/portfolio-accent data=page %}
      </div>

      <div class="push button-wrappers">
        {% pattern buttons/calendly-accent data=page %}
      </div>
    </div>
  </div>
</section>
