<div class="about-section-3">
  <div class="island {{include.data.gradient}}">
    <img class="img-flex" src="{{site.cdn}}/headshots/{{include.data.filename}}-headshot.jpg"
      alt="{{include.data.headshot_alt}}">
    <h1 class="giga push-1-2">{{include.data.first_name}} {{include.data.last_name}}</h1>
    <ul class="list-group-inline push-0 about-section-3-specialties">
      <li class="text-upper">{{include.data.specialty1}}</li>
      <li class="text-upper">{{include.data.specialty2}}</li>
      <li class="text-upper">{{include.data.specialty3}}</li>
    </ul>
    <img class="push-0 rainbow-line img-flex" src="/images/line-break-gradient.svg" alt="" role="presentation">
    <p class="text-left pad-t-1-4 milli push-0">{{include.data.intro_text}}</p>
    <div class="pad-t-1-2 push">
      <ul class="list-group about-section-social push-1-2">
        {% if include.data.linkedin_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.linkedin_link}}"
            aria-label="This button navigates you to this student's linkedin account." target="_blank">
              <i class="icon i-32" id="linkedin">
                <svg>
                  <use xlink:href="/images/icons.svg#linkedin"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
        {% if include.data.instagram_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.instagram_link}}"
            aria-label="This button navigates you to this student's instagram account." target="_blank">
              <i class="icon i-32" id="instagram">
                <svg>
                  <use xlink:href="/images/icons.svg#instagram"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
        {% if include.data.behance_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.behance_link}}"
            aria-label="This button navigates you to this student's behance account." target="_blank">
              <i class="icon i-32" id="behance">
                <svg>
                  <use xlink:href="/images/icons.svg#behance"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
        {% if include.data.github_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.github_link}}"
            aria-label="This button navigates you to this student's github account." target="_blank">
              <i class="icon i-32" id="github">
                <svg>
                  <use xlink:href="/images/icons.svg#github"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
        {% if include.data.vimeo_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.vimeo_link}}"
            aria-label="This button navigates you to this student's vimeo account." target="_blank">
              <i class="icon i-32" id="vimeo">
                <svg>
                  <use xlink:href="/images/icons.svg#vimeo"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
        {% if include.data.facebook_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.facebook_link}}"
            aria-label="This button navigates you to this student's facebook account." target="_blank">
              <i class="icon i-32" id="facebook">
                <svg>
                  <use xlink:href="/images/icons.svg#facebook"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
        {% if include.data.twitter_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.twitter_link}}"
            aria-label="This button navigates you to this student's twitter account." target="_blank">
              <i class="icon i-32" id="twitter">
                <svg>
                  <use xlink:href="/images/icons.svg#twitter"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
        {% if include.data.dribble_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.dribble_link}}"
            aria-label="This button navigates you to this student's dribble account." target="_blank">
              <i class="icon i-32" id="dribble">
                <svg>
                  <use xlink:href="/images/icons.svg#dribble"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
        {% if include.data.youtube_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.youtube_link}}"
            aria-label="This button navigates you to this student's youtube account." target="_blank">
              <i class="icon i-32" id="youtube">
                <svg>
                  <use xlink:href="/images/icons.svg#youtube"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
        {% if include.data.apple-music_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.apple-music_link}}"
            aria-label="This button navigates you to this student's apple-music account." target="_blank">
              <i class="icon i-32" id="apple-music">
                <svg>
                  <use xlink:href="/images/icons.svg#apple-music"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
        {% if include.data.email_link %}
        <li>
          <div class="icon-box-shadow">
            <a class="{{include.data.social_icon_color}}" href="{{include.data.email_link}}"
            aria-label="This button navigates you to this student's email account." target="_blank">
              <i class="icon i-32" id="email">
                <svg>
                  <use xlink:href="/images/icons.svg#email"></use>
                </svg>
              </i>
            </a>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="push-1-2">
      {% pattern buttons/portfolio-gray data=page %}
    </div>
    {% pattern buttons/calendly-gray data=page %}
  </div>
</div>
