<section class="intro-section-3 text-center push-2">
  <video controls loop playsinline preload="auto" class="push">
    <source
      srcset="{{site.cdn}}/footage/intros/{{include.data.filename}}-video-small.mp4 1280w, {{site.cdn}}/footage/intros/{{include.data.filename}}-video.mp4 1920w"
      sizes="(min-width: 38em) 70vw, 100vw"
      type="video/mp4">
    <track label="English" kind="subtitles" srclang="en" src="{{site.cdn}}/footage/intro-transcripts/{{include.data.filename}}-transcripts-en.vtt" default>
  </video>
  <h3 class="giga push-2">I am Generation <span>{{include.data.ation_word}}</span></h3>
  <blockquote class="text-center">
    <p class="mega push-1-2">“{{include.data.quote_text | strip}}”</p>
    {% if include.data.quote_author %}
        <footer><cite>{{include.data.quote_author}}</cite></footer>
    {% endif %}
  </blockquote>
</section>

<section class="work-section-3 color-tint pad-t-2 pad-b-2">
  <div class="wrapper gutter">
    <h2 class="tera text-center push-2">Example Work</h2>
    <div class="project-1-section-3 push-2">
      <h4 class="push-1-4">{{include.data.portfolio_title1}}</h4>
      {% if include.data.portfolio_image1 %}
      <img class="img-flex" src="{{site.cdn}}/projects/{{include.data.filename}}-project-1.jpg"
        alt="{{include.data.portfolio_description1}}">
      {% endif %}
      {% if include.data.portfolio_video1 %}
      <video controls loop playsinline class="push">
        <source src="{{site.cdn}}/projects/{{include.data.filename}}-project-1.mp4" type="video/mp4">
      </video>
      {% endif %}
      {% if include.data.portfolio_gif1 %}
      <video autoplay controls loop playsinline class="push-0">
        <source src="{{site.cdn}}/projects/{{include.data.filename}}-gif-1.mp4" type="video/mp4">
      </video>
      {% endif %}
      <p class="milli max-length-description push-0">{{include.data.portfolio_description1}}{{include.data.portfolio_description1_link}}</p>
    </div>

    <div class="project-2-section-3">
      <h4 class="push-1-4">{{include.data.portfolio_title2}}</h4>
      {% if include.data.portfolio_image2 %}
      <img class="img-flex" src="{{site.cdn}}/projects/{{include.data.filename}}-project-2.jpg"
        alt="{{include.data.portfolio_description2}}">
      {% endif %}
      {% if include.data.portfolio_video2 %}
      <video controls loop playsinline class="push">
        <source src="{{site.cdn}}/projects/{{include.data.filename}}-project-2.mp4" type="video/mp4">
      </video>
      {% endif %}
      {% if include.data.portfolio_gif2 %}
      <video autoplay controls loop playsinline class="push-0">
        <source src="{{site.cdn}}/projects/{{include.data.filename}}-gif-2.mp4" type="video/mp4">
      </video>
      {% endif %}
      <p class="milli max-length-description push-0">{{include.data.portfolio_description2}}{{include.data.portfolio_description2_link}}</p>
    </div>
  </div>
</section>

<section class="work-2-section-3 pad-t-2 pad-b-2 gutter">
  <div class="project-3-section-3 work-cards push-2">
    <h4 class="push-1-4">{{include.data.portfolio_title3}}</h4>
    <div class="relative">
      {% if include.data.portfolio_image3 %}
      <img class="img-flex" style="margin-bottom: .35rem;" src="{{site.cdn}}/projects/{{include.data.filename}}-project-3.jpg"
        alt="{{include.data.portfolio_description3}}">
      {% endif %}
      {% if include.data.portfolio_video3 %}
      <video controls loop playsinline class="push-0">
        <source src="{{site.cdn}}/projects/{{include.data.filename}}-project-3.mp4" type="video/mp4">
      </video>
      {% endif %}
      {% if include.data.portfolio_gif3 %}
      <video autoplay controls loop playsinline class="push-0">
        <source src="{{site.cdn}}/projects/{{include.data.filename}}-gif-3.mp4" type="video/mp4">
      </video>
      {% endif %}
      <div class="work-hover">
        <p class="milli push-0">{{include.data.portfolio_description3}}{{include.data.portfolio_description3_link}}</p>
      </div>
    </div>
  </div>

  <div class="project-4-section-3 work-cards">
    <h4 class="push-1-4">{{include.data.portfolio_title4}}</h4>
    <div class="relative">
      {% if include.data.portfolio_image4 %}
      <img class="img-flex" style="margin-bottom: .35rem;" src="{{site.cdn}}/projects/{{include.data.filename}}-project-4.jpg"
        alt="{{include.data.portfolio_description4}}">
      {% endif %}
      {% if include.data.portfolio_video4 %}
      <video controls loop playsinline class="push-0">
        <source src="{{site.cdn}}/projects/{{include.data.filename}}-project-4.mp4" type="video/mp4">
      </video>
      {% endif %}
      {% if include.data.portfolio_gif4 %}
      <video autoplay controls loop playsinline class="push-0">
        <source src="{{site.cdn}}/projects/{{include.data.filename}}-gif-4.mp4" type="video/mp4">
      </video>
      {% endif %}
      <div class="work-hover">
        <p class="milli push-0">{{include.data.portfolio_description4}}{{include.data.portfolio_description4_link}}</p>
      </div>
    </div>
  </div>
</section>
