<section class="about-t2 pad-t-2">

  <div class="gutter">
    <div class="embed embed-1by1">
      <img class="embed-item img-flex" src="{{site.cdn}}/headshots/{{include.data.filename}}-headshot.png" alt="{{include.data.headshot_alt}}">
    </div>
  </div>

  <div class="center-until-60em-t2 gutter">
    <h1 class="giga">{{include.data.first_name}} {{include.data.last_name}}</h1>
    <ul class="list-group specifications-t2 text-upper">
      <li>{{include.data.specialty1}}</li>
      <li>{{include.data.specialty2}}</li>
      <li>{{include.data.specialty3}}</li>
    </ul>
    <img class="push layout1-bar rainbow-line" src="/images/line-break-gradient.svg" alt="" role="presentation">
    <p>{{include.data.intro_text}}</p>
  </div>

  <div class="social-icons-t2 center-until-60em-t2 gutter">
    <ul class="list-group about-section-social push-1-2">
      {% if include.data.linkedin_link %}
          <li>
              <a class="{{include.data.icon_color}}" href="#" aria_label="This button navigates you to this student's linkedin account.">
                  <i class="icon i-32" id="linkedin">
                  <svg>
                      <use xlink:href="/images/icons.svg#linkedin"></use>
                  </svg>
                  </i>
              </a>
          </li>
      {% endif %}
      {% if include.data.instagram_link %}
          <li>
              <a class="{{include.data.icon_color}}" href="#" aria_label="This button navigates you to this student's instagram account.">
                  <i class="icon i-32" id="instagram">
                  <svg>
                      <use xlink:href="/images/icons.svg#instagram"></use>
                  </svg>
                  </i>
              </a>
          </li>
      {% endif %}
      {% if include.data.behance_link %}
          <li>
              <a class="{{include.data.icon_color}}" href="#" aria_label="This button navigates you to this student's behance account.">
                  <i class="icon i-32" id="behance">
                  <svg>
                      <use xlink:href="/images/icons.svg#behance"></use>
                  </svg>
                  </i>
              </a>
          </li>
      {% endif %}
      {% if include.data.github_link %}
          <li>
              <a class="{{include.data.icon_color}}" href="#" aria_label="This button navigates you to this student's github account.">
                  <i class="icon i-32" id="github">
                  <svg>
                      <use xlink:href="/images/icons.svg#github"></use>
                  </svg>
                  </i>
              </a>
          </li>
      {% endif %}
      {% if include.data.vimeo_link %}
          <li>
              <a class="{{include.data.icon_color}}" href="#" aria_label="This button navigates you to this student's vimeo account.">
                  <i class="icon i-32" id="vimeo">
                  <svg>
                      <use xlink:href="/images/icons.svg#vimeo"></use>
                  </svg>
                  </i>
              </a>
          </li>
      {% endif %}
      {% if include.data.facebook_link %}
          <li>
              <a class="{{include.data.icon_color}}" href="#" aria_label="This button navigates you to this student's facebook account.">
                  <i class="icon i-32" id="facebook">
                  <svg>
                      <use xlink:href="/images/icons.svg#facebook"></use>
                  </svg>
                  </i>
              </a>
          </li>
      {% endif %}
      {% if include.data.twitter_link %}
          <li>
              <a class="{{include.data.icon_color}}" href="#" aria_label="This button navigates you to this student's twitter account.">
                  <i class="icon i-32" id="twitter">
                  <svg>
                      <use xlink:href="/images/icons.svg#twitter"></use>
                  </svg>
                  </i>
              </a>
          </li>
      {% endif %}
  </ul>
  </div>

  <div class="buttons-grid-t2 text-center">
    <div class="button-top-t2">
      {% pattern buttons/calendly-accent data=page %}
    </div>

    <div>
      {% pattern buttons/portfolio-accent data=page %}
    </div>
  </div>

</section>
