html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Barlow', sans-serif;
  align-items: center;
  padding: 20px;
}

div .item {
  display: none;
}

#filter-display {
  font-size: 18px;
  padding: 0.5em;
  border: 1px solid #CCC;
  color: blue;
}

.card {
  background-color: #f1f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  max-width: 600px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

.results-title, .card-content, .results-btn {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.designer {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
}

.ks-cboxtags {
    list-style: none;
    border: none;
    background-color: inherit;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.label {
    display: inline-block;
    width: 120px;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 9px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

.label {
    padding: 8px 12px;
    cursor: pointer;
}

.label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

.ks-cboxtags input[type="checkbox"]:checked + .label {
    border: 2px solid #84c27e;
    background-color: #84c27e;
    color: #000000;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: inline;
}

.ks-cboxtags input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.ks-cboxtags input[type="checkbox"]:focus + .label {
  border: 2px solid aqua;
}

/* End of other CSS */

.next-btn {
  width: 175px;
  border-radius: 4px;
  padding: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: inherit;
  color: black;
  border-color: black;
  font-family: 'Barlow', sans-serif;
  font-size: medium;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.next-btn:hover {
  background-color: black;
  border-color: black;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0);
}

.results-container img {
  position: relative;
  transform: translateX(18%);
}

.psquish {
  max-width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.link-1 {
  position: absolute;
  top: 120px;
  right: 0px;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: medium;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

.link-1:hover {
  color:#000000;
  background-color:#FFFFFF;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0);
}

.link-2:hover {
  color:#000000;
  background-color:#FFFFFF;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0);
}

.link-2 {
  position: absolute;
  top: 162px;
  right: -12px;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: medium;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}


@media all and (max-width:30em){
 a.button1{
  display:block;
  margin:0.4em auto;
 }
}

@media only screen and (min-width: 25em) {

  .card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    max-width: 600px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .results-container {
    position: relative;
    transform: translateX(15%);
  }

}

@media only screen and (min-width: 38em) {

  .card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    max-width: 600px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .results-container {
    position: relative;
    transform: translateX(0%);
  }

}

@media only screen and (min-width: 60em) {

  .card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    max-width: 600px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .ks-cboxtags {
      list-style: none;
      border: none;
      background-color: inherit;
      display: inline;
      position: relative;
      left: 0%;
      transform: translateX(0%);
      }

  .ks-cboxtags-1 {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .psquish {
    max-width: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media only screen and (min-width: 90em) {

  .card {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    max-width: 900px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .results-container {
    display: block;
    width: 700px;
    position: relative;
    transform: translateX(-15%);
  }

  .ks-cboxtags {
      list-style: none;
      border: none;
      background-color: inherit;
      display: inline-block;
  }

  .ks-cboxtags-1 {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

}
