---
layout: default
---

<main class="wrapper">
  {% pattern sections/template-2-about bio="This is an intro paragraph that introduces you as a designer to everyone on the site. This paragraph will ideally be 150–200 characters long, or else it will not fit. Thank you!" student-name="Firstname Lastname" font-color="text-web" %}
  {% pattern sections/template-2-video color-tint="color-web-tint" color="text-web" ation-word="wordendingination" %}
  {% pattern sections/template-2-work project_title="Case Study 1 Title" student_quote="“Tell us something about how you design. Let’s aim for 60–80 characters.” — Anonymous" font_color="text-web" %}
</main>
