---
layout: default
---

<!-- include header pattern -->

  <video class="wrapper" width="1920" height="1080" controls>
    <source src="x.mp4" type="video/mp4">
  </video>

  <main class="wrapper gutter">
<!-- include profile card pattern -->

    <h2 class="text-center">Example Work</h2>
    <h3 class="push-1-2">Case Study 1</h3>
    <div class="grid">
      <img class="img-flex unit xs-1 l-2-3" src="" alt="">
    </div>

    <h2 class="text-center">Example Work</h2>
    <h3 class="push-1-2">Case Study 1</h3>
    <div class="grid">
      <img class="img-flex unit xs-1 l-1-3" src="" alt="">
    </div>

    <h2 class="text-center">Example Work</h2>
    <h3 class="push-1-2">Case Study 1</h3>
    <div class="grid">
      <img class="img-flex unit xs-1 l-1-3" src="" alt="">
    </div>

    <section class="grid">
      <p class="unit xs-1 l-1-2 quote">"Quote text here."</p>
      <h2 class="text-center">Example Work</h2>
      <h3 class="push-1-2">Case Study 1</h3>
      <div class="grid">
        <img class="img-flex unit xs-1 l-1-2" src="" alt="">
      </div>
      <!-- Book a meeting button -->
      <!-- My portfolio button -->


<!-- include footer pattern -->
