---
layout: default
---

<!-- include header pattern -->
{% pattern sections/template-4-section-1 student-photo="/images/example-image.jpg" student-name="Model Student" specialties="w" bio="This is an intro paragraph that introduces you as a designer to everyone on the site. This paragraph will ideally be 150–200 characters long, or else it will not fit. Thank you!" %}
{% pattern sections/template-4-section-2 tint="color-web-tint" color="text-web" ation-word="excessivewordelongation" color="text-web" student-quote="“Tell us something about how you design. Let’s aim for 60–80 characters.” — Anonymous" %}
{% pattern sections/template-4-section-3 project-title="Case Study 1 Title" %}
