---
layout: default
---
<!-- header layout - how should we do this? cause sometimes it's the white layout and other the dark -->

<main class="main" id="main" role="main">

  {% pattern sections/layout1-video-section color="text-web" ation-word="wordendingination" %}

  {% pattern sections/layout1-about-section color-tint="color-web-tint" separator-tint="color-web-separator-tint" student-name="Firstname Lastname" specialties="Illustration" about="This is an intro paragraph that introduces you as a designer to everyone on the site. This paragraph will ideally be 150–200 characters long, or else it will not fit. Thank you!" %}

  {% pattern sections/layout1-work-section project-title="Case Study 1 Title" student-quote="“Tell us something about how you design. Let’s aim for 60–80 characters.” — Anonymous" font-color="text-web" %}

</main>

<!-- footer layout - same question as header :) -->
